<%= link_to region_path(region.id), remote: true do %>
  <div class="lead p-1" style="border-width: 1px;border-bottom-style: solid;border-bottom-color: rgb(236,239,242);" id="region-<%= region.id %>">
    <div class="row justify-content-between">
      <div class="col col-10">
        <p class="lead" style="font-size: 15px;"><i class="fas fa-location-arrow text-secondary" style="padding-right: 8px;"></i><%= region.region_desc %></p>
      </div>
      <div class="col d-lg-flex justify-content-lg-end align-items-lg-center col-1">
        <i class="fas fa-chevron-right text-secondary" style="font-size: 10px;"></i>
      </div>
    </div>
  </div>
<% end %>